{% extends "base.html" %}

{% block content %}
<div class="bio-container">
    <h2>Un poco sobre mi</h2>
    <div class="bio-content">
        <div class="bio-text">
            <p>¡Hola! Soy 
                 Ramos, un apasionado desarrollador full-stack con experiencia en múltiples lenguajes y frameworks de programación. Me encanta crear soluciones innovadoras, los videojuegos y hacer real ideas a través del código.</p>
            <p>
                Con una base sólida en el desarrollo tanto de front-end como de back-end, me esfuerzo por crear aplicaciones fluidas y fáciles de usar que marquen la diferencia..</p>
        </div>
    </div>
    <img src="{{ url_for('static', filename='images/fachita.png') }}">
</div>

<!-- Botón de descarga del CV -->
<div class="download-cv">
    <a href="{{ url_for('static', filename='cv.pdf') }}" class="btn" download>
        Descargar CV
    </a>
</div>

{% endblock %}
